In [1]:
class BankAccount:
  def __init__(self, name, balance=0):
    self.name = name
    self.balance = balance

  def display(self):  
    print(self.name, self.balance)

  def withdraw(self, amount):
    self.balance -= amount

  def deposit(self, amount):
    self.balance += amount

In [2]:
a1 = BankAccount('Mike', 200)
 
a2 = BankAccount('Tom')
 
a1.display()
a2.display()
 
a1.withdraw(100)
a2.deposit(500)
 
a1.display()
a2.display()

Mike 200
Tom 0
Mike 100
Tom 500

In [3]:
class Book:
  def __init__(self, isbn, title, author, publisher, pages, price, copies):
    self.isbn = isbn
    self.title = title
    self.author = author
    self.publisher = publisher
    self.pages = pages
    self.price = price
    self.copies = copies

  def display(self):
    print(f'{self.isbn}  {self.title} {self.price} {self.copies}')

  @property
  def in_stock(self):
    return self.copies > 0

  def sell(self):
    if self.in_stock:
      self.copies -= 1
    else:
      print('the book is out of stock.')

  @property
  def price(self):
    return self._price

  @price.setter
  def price(self, value):
    if value > 50 & value < 1000:
      self._price = value
    else:
      print('the price of a book cannot be less than 50 or more than 1000.')

In [4]:
book1 = Book('957-4-36-547417-1', 'Learn Physics','Stephen', 'CBC', 350, 200,10)
book2 = Book('652-6-86-748413-3', 'Learn Chemistry','Jack', 'CBC', 400, 220,20)
book3 = Book('957-7-39-347216-2', 'Learn Maths','John', 'XYZ', 500, 300,5)
book4 = Book('957-7-39-347216-2', 'Learn Biology','Jack', 'XYZ', 400, 200,6)
book_list = [book1, book2, book3, book4]

In [5]:
for book in book_list:
  book.display()

957-4-36-547417-1  Learn Physics 200 10
652-6-86-748413-3  Learn Chemistry 220 20
957-7-39-347216-2  Learn Maths 300 5
957-7-39-347216-2  Learn Biology 200 6

In [6]:
jack_books = [book.title for book in book_list if book.author == 'Jack']

In [7]:
print(jack_books)

['Learn Chemistry', 'Learn Biology']

In [8]:
class Fraction:
  def __init__(self, nr, dr=1):
    if dr < 0:
      self.nr = - nr
      self.dr = - dr
    else :
      self.nr = nr
      self.dr = dr

  def show(self):
    print(str(self.nr) + '/' + str(self.dr))

  def multiply(self, value):
    if isinstance(value, Fraction):
      nr = self.nr * value.nr
      dr = self.dr * value.dr
    else:
      nr = self.nr * value
      dr = self.dr

    return Fraction(nr, dr)

  def add(self, value):
    if isinstance(value, Fraction):
      nr = self.nr*value.dr + value.nr*self.dr
      dr = self.dr*value.dr
    else:
      nr = self.nr + value*self.dr 
      dr = self.dr

    return Fraction(nr, dr)

In [9]:
f1 = Fraction(2,3)
f1.show()
f2 = Fraction(3,4)
f2.show()
f3 = f1.multiply(f2)
f3.show()
f3 = f1.add(f2)
f3.show()
f3 = f1.add(5) 
f3.show()
f3 = f1.multiply(5) 
f3.show()

2/3
3/4
6/12
17/12
17/3
10/3

In [10]:
class Product():
    def __init__(self, id, marked_price, discount):
        self.id = id
        self.marked_price = marked_price
        self.discount = discount
    
    def display(self):
        print(self.id,  self.marked_price,  self.discount)

    @property
    def selling_price(self):
      return self.marked_price - self.discount*self.marked_price/100

    @property
    def discount(self):
      return self._discount

    @discount.setter
    def discount(self, discount):
      if self.marked_price > 500:
        self._discount = discount + 2
      else:
        self._discount = discount

In [11]:
p1 = Product('X879', 400, 6)
p2 = Product('A234', 100, 5)
p3 = Product('B987', 990, 4)
p4 = Product('H456', 800, 6)
product_list = [p1, p2, p3, p4]

In [12]:
for product in product_list:
  print(product.selling_price)

376.0
95.0
930.6
736.0

In [13]:
class Circle:
  def __init__(self, radius):
    if radius > 0:
      self.radius = radius
    else:
      print('the radius of circle must be positive number.')

  def area(self):
    return 3.14 * self.radius * self.radius

  @property
  def diameter(self):
    return  2 * self.radius

  @property
  def circumference(self):
    return 2 * 3.14 * self.radius

In [14]:
c1 = Circle(5)
print(c1.circumference, c1.diameter)

31.400000000000002 10

In [15]:
c2 = Circle(-5)

the radius of circle must be positive number.